# Customize to match your system. Then, place this file in ~/.arm-cc-specs
# (where ~ represents your home dir).
PREPROCESS=llvm-gcc
CPPFLAGS=-E -U__i386__ -U__ppc__ -D__arm__
LLVM_GCC=llvm-gcc
CFLAGS=-emit-llvm
LLC=llc
LLCFLAGS=-mtriple=arm-apple-darwin -relocation-model=dynamic-no-pic -mattr=+v6
AS=arm-apple-darwin-as
ASFLAGS=-arch arm
LD=arm-apple-darwin-ld
LDFLAGS=-syslibroot /usr/local/share/iphone/Heavenly1A543a.UserBundle -lSystem -lgcc_s_v6.1 /usr/local/share/iphone/csu/crt1.o


